* {
    border-color: rgb(139, 139, 139);
    border: 0.2px solid;
    margin: 0;
}

/*Header of the website*/

#header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    padding-top: 20px;
    padding-bottom: 135px;
    padding-left: 200px;
    padding-right: 200px;
}

#header .head {
    display: flex;
    flex: 1;
    margin-bottom: 120px;
}

#header .head .logo {
    flex: 1.5 1 0;
    font-size: 24px;
    color: #F9FAF8;
}

#header .head .links {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
}

#header #top {
    display: flex;
}

#header #top .left {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

#header #top .left .title {
    font-size: 48px;
    color: #F9FAF8;
    line-height: 55px;
    font-weight: 900;
}

#header #top .left .subtext {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}

#header #top .left .sign-up {
    color: #F9FAF8; 
    font-size: 18px; 
    padding: 10px; 
    padding-left: 30px;
    padding-right: 30px;
    width: 70px;
    border-radius: 5px; 
    font-weight: 700; 
    background-color: #3882F6;
}

#header #top .right {
    display: flex;
    flex: 1 1 0;
    background-color: #6D747D;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

/*Second part of the website*/

#second {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
}

#second .info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

#second .boxes {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding-left: 300px;
    padding-right: 300px;
}

#second .boxes .box {
    display: flex;
    flex-direction: column;
}

#second .boxes .box .box-b {
    color: transparent; 
    padding: 30px; 
    border-radius: 10px; 
    border: 2px solid #3882F6;
    height: 80px;
}

#second .boxes .box .box-p {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    color: #6D747D;
}