* {
    background-color: #1F2937;
}

#header div {
    border: 4px white;
}

#header {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#header .header {
    display: inline-flex;
    flex-direction: row;
}

